body {
    background: linear-gradient(to right, #17313c, #2d5d6d, #4b8ba7);
    font-family: 'Poppins', sans-serif;
}

#form{
    width: 400px;
    margin: 20vh auto 10vh auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#btn {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(28, 45, 197);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

#btn:hover{
 background-color: rgb(100, 45, 211);
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item input {
    border: 2px solid #190101;
	border-radius: 4px;
	display: inline-block;
	font-size: 12px;
	padding: 12px;
}

.form-item div {
    margin-bottom: 10px;
}

.form-item input:focus {
    outline: 0;
}

.form-item.success input {
    border-color: #09c372;
}

.form-item.error input {
    border-color: #ff3860;
}

.form-item .error {
    color: #ff3860;
    font-size: 11px;
    height: 13px;
}



